pre span, pre code , pre, code{
  font-family: monaco;
}
html, body { height: 100%; margin:0;padding: 0; } 

:unresolved{
  opacity: 0;
  visibility: hidden;
}

h1{
  text-shadow: 2px 2px 0px rgba(0,0,0,.2);
}

code{
  border-radius: 6px;
  padding: 2px 6px;
  border: 1px solid #ee9;
  background: #fff;
  font-size: .8em;
}

pre > code{
  border: none;
}

li{
  margin-bottom: 6px;
}

li> ul{
  font-size: .8em;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  border: 6px solid #fff;
  box-shadow: 2px 2px 3px rgba(0,0,0,.2);
  max-width: 800px;
}
