.pt-page-moveToLeft{
	-webkit-animation:moveToLeft 0.6s ease both;
	-moz-animation:moveToLeft 0.6s ease both;
	animation:moveToLeft 0.6s ease both;
}
.pt-page-moveFromLeft{
	-webkit-animation:moveFromLeft 0.6s ease both;
	-moz-animation:moveFromLeft 0.6s ease both;
	animation:moveFromLeft 0.6s ease both;
}
.pt-page-moveToRight{
	-webkit-animation:moveToRight 0.6s ease both;
	-moz-animation:moveToRight 0.6s ease both;
	animation:moveToRight 0.6s ease both;
}
.pt-page-moveFromRight{
	-webkit-animation:moveFromRight 0.6s ease both;
	-moz-animation:moveFromRight 0.6s ease both;
	animation:moveFromRight 0.6s ease both;
}
.pt-page-moveToTop{
	-webkit-animation:moveToTop 0.6s ease both;
	-moz-animation:moveToTop 0.6s ease both;
	animation:moveToTop 0.6s ease both;
}
.pt-page-moveFromTop{
	-webkit-animation:moveFromTop 0.6s ease both;
	-moz-animation:moveFromTop 0.6s ease both;
	animation:moveFromTop 0.6s ease both;
}
.pt-page-moveToBottom{
	-webkit-animation:moveToBottom 0.6s ease both;
	-moz-animation:moveToBottom 0.6s ease both;
	animation:moveToBottom 0.6s ease both;
}
.pt-page-moveFromBottom{
	-webkit-animation:moveFromBottom 0.6s ease both;
	-moz-animation:moveFromBottom 0.6s ease both;
	animation:moveFromBottom 0.6s ease both;
}
.pt-page-fade{
	-webkit-animation:fade 0.6s ease both;
	-moz-animation:fade 0.6s ease both;
	animation:fade 0.6s ease both;
}
.pt-page-moveToLeftFade{
	-webkit-animation:moveToLeftFade 0.6s ease both;
	-moz-animation:moveToLeftFade 0.6s ease both;
	animation:moveToLeftFade 0.6s ease both;
}
.pt-page-moveFromLeftFade{
	-webkit-animation:moveFromLeftFade 0.6s ease both;
	-moz-animation:moveFromLeftFade 0.6s ease both;
	animation:moveFromLeftFade 0.6s ease both;
}
.pt-page-moveToRightFade{
	-webkit-animation:moveToRightFade 0.6s ease both;
	-moz-animation:moveToRightFade 0.6s ease both;
	animation:moveToRightFade 0.6s ease both;
}
.pt-page-moveFromRightFade{
	-webkit-animation:moveFromRightFade 0.6s ease both;
	-moz-animation:moveFromRightFade 0.6s ease both;
	animation:moveFromRightFade 0.6s ease both;
}
.pt-page-moveToTopFade{
	-webkit-animation:moveToTopFade 0.6s ease both;
	-moz-animation:moveToTopFade 0.6s ease both;
	animation:moveToTopFade 0.6s ease both;
}
.pt-page-moveFromTopFade{
	-webkit-animation:moveFromTopFade 0.6s ease both;
	-moz-animation:moveFromTopFade 0.6s ease both;
	animation:moveFromTopFade 0.6s ease both;
}
.pt-page-moveToBottomFade{
	-webkit-animation:moveToBottomFade 0.6s ease both;
	-moz-animation:moveToBottomFade 0.6s ease both;
	animation:moveToBottomFade 0.6s ease both;
}
.pt-page-moveFromBottoFadem{
	-webkit-animation:moveFromBottoFadem 0.6s ease both;
	-moz-animation:moveFromBottoFadem 0.6s ease both;
	animation:moveFromBottoFadem 0.6s ease both;
}
@-webkit-keyframes moveToLeft{
	to{
		pretransform:translateX(-100%);
	}
}
@-moz-keyframes moveToLeft{
	to{
		pretransform:translateX(-100%);
	}
}
@-o-keyframes moveToLeft{
	to{
		pretransform:translateX(-100%);
	}
}
@keyframes moveToLeft{
	to{
		pretransform:translateX(-100%);
	}
}
@-webkit-keyframes moveFromLeft{
	from{
		pretransform:translateX(-100%);
	}
}
@-moz-keyframes moveFromLeft{
	from{
		pretransform:translateX(-100%);
	}
}
@-o-keyframes moveFromLeft{
	from{
		pretransform:translateX(-100%);
	}
}
@keyframes moveFromLeft{
	from{
		pretransform:translateX(-100%);
	}
}
@-webkit-keyframes moveToRight{
	to{
		-webkit-transform:translateX(100%);
	}
}
@-moz-keyframes moveToRight{
	to{
		-moz-transform:translateX(100%);
	}
}
@-o-keyframes moveToRight{
	to{
		-o-transform:translateX(100%);
	}
}
@keyframes moveToRight{
	to{
		transform:translateX(100%);
	}
}
@-webkit-keyframes moveFromRight{
	from{
		-webkit-transform:translateX(100%);
	}
}
@-moz-keyframes moveFromRight{
	from{
		-moz-transform:translateX(100%);
	}
}
@-o-keyframes moveFromRight{
	from{
		-o-transform:translateX(100%);
	}
}
@keyframes moveFromRight{
	from{
		transform:translateX(100%);
	}
}
@-webkit-keyframes moveToTop{
	to{
		-webkit-transform:translateY(-100%);
	}
}
@-moz-keyframes moveToTop{
	to{
		-moz-transform:translateY(-100%);
	}
}
@-o-keyframes moveToTop{
	to{
		-o-transform:translateY(-100%);
	}
}
@keyframes moveToTop{
	to{
		transform:translateY(-100%);
	}
}
@-webkit-keyframes moveFromTop{
	from{
		-webkit-transform:translateY(-100%);
	}
}
@-moz-keyframes moveFromTop{
	from{
		-moz-transform:translateY(-100%);
	}
}
@keyframes moveFromTop{
	from{
		transform:translateY(-100%);
	}
}
@-webkit-keyframes moveToBottom{
	to{
		-webkit-transform:translateY(100%);
	}
}
@-moz-keyframes moveToBottom{
	to{
		-moz-transform:translateY(100%);
	}
}
@keyframes moveToBottom{
	to{
		transform:translateY(100%);
	}
}
@-webkit-keyframes moveFromBottom{
	from{
		-webkit-transform:translateY(100%);
	}
}
@-moz-keyframes moveFromBottom{
	from{
		-moz-transform:translateY(100%);
	}
}
@keyframes moveFromBottom{
	from{
		transform:translateY(100%);
	}
}
@-webkit-keyframes fade{
	to{
		opacity:0.3;
	}
}
@-moz-keyframes fade{
	to{
		opacity:0.3;
	}
}
@keyframes fade{
	to{
		opacity:0.3;
	}
}
@-webkit-keyframes moveToLeftFade{
	to{
		opacity:0.3;
		-webkit-transform:translateX(-100%);
	}
}
@-moz-keyframes moveToLeftFade{
	to{
		opacity:0.3;
		-moz-transform:translateX(-100%);
	}
}
@keyframes moveToLeftFade{
	to{
		opacity:0.3;
		transform:translateX(-100%);
	}
}
@-webkit-keyframes moveFromLeftFade{
	from{
		opacity:0.3;
		-webkit-transform:translateX(-100%);
	}
}
@-moz-keyframes moveFromLeftFade{
	from{
		opacity:0.3;
		-moz-transform:translateX(-100%);
	}
}
@keyframes moveFromLeftFade{
	from{
		opacity:0.3;
		transform:translateX(-100%);
	}
}
@-webkit-keyframes moveToRightFade{
	to{
		opacity:0.3;
		-webkit-transform:translateX(100%);
	}
}
@-moz-keyframes moveToRightFade{
	to{
		opacity:0.3;
		-moz-transform:translateX(100%);
	}
}
@keyframes moveToRightFade{
	to{
		opacity:0.3;
		transform:translateX(100%);
	}
}
@-webkit-keyframes moveFromRightFade{
	from{
		opacity:0.3;
		-webkit-transform:translateX(100%);
	}
}
@-moz-keyframes moveFromRightFade{
	from{
		opacity:0.3;
		-moz-transform:translateX(100%);
	}
}
@keyframes moveFromRightFade{
	from{
		opacity:0.3;
		transform:translateX(100%);
	}
}
@-webkit-keyframes moveToTopFade{
	to{
		opacity:0.3;
		-webkit-transform:translateY(-100%);
	}
}
@-moz-keyframes moveToTopFade{
	to{
		opacity:0.3;
		-moz-transform:translateY(-100%);
	}
}
@keyframes moveToTopFade{
	to{
		opacity:0.3;
		transform:translateY(-100%);
	}
}
@-webkit-keyframes moveFromTopFade{
	from{
		opacity:0.3;
		-webkit-transform:translateY(-100%);
	}
}
@-moz-keyframes moveFromTopFade{
	from{
		opacity:0.3;
		-moz-transform:translateY(-100%);
	}
}
@keyframes moveFromTopFade{
	from{
		opacity:0.3;
		transform:translateY(-100%);
	}
}
@-webkit-keyframes moveToBottomFade{
	to{
		opacity:0.3;
		-webkit-transform:translateY(100%);
	}
}
@-moz-keyframes moveToBottomFade{
	to{
		opacity:0.3;
		-moz-transform:translateY(100%);
	}
}
@keyframes moveToBottomFade{
	to{
		opacity:0.3;
		transform:translateY(100%);
	}
}
@-webkit-keyframes moveFromBottomFade{
	from{
		opacity:0.3;
		-webkit-transform:translateY(100%);
	}
}
@-moz-keyframes moveFromBottomFade{
	from{
		opacity:0.3;
		-moz-transform:translateY(100%);
	}
}
@keyframes moveFromBottomFade{
	from{
		opacity:0.3;
		transform:translateY(100%);
	}
}
.pt-page-scaleDown{
	-webkit-animation:scaleDown 0.7s ease both;
	-moz-animation:scaleDown 0.7s ease both;
	animation:scaleDown 0.7s ease both;
}
.pt-page-scaleUp{
	-webkit-animation:scaleUp 0.7s ease both;
	-moz-animation:scaleUp 0.7s ease both;
	animation:scaleUp 0.7s ease both;
}
.pt-page-scaleUpDown{
	-webkit-animation:scaleUpDown 0.5s ease both;
	-moz-animation:scaleUpDown 0.5s ease both;
	animation:scaleUpDown 0.5s ease both;
}
.pt-page-scaleDownUp{
	-webkit-animation:scaleDownUp 0.5s ease both;
	-moz-animation:scaleDownUp 0.5s ease both;
	animation:scaleDownUp 0.5s ease both;
}
.pt-page-scaleDownCenter{
	-webkit-animation:scaleDownCenter 0.4s ease-in both;
	-moz-animation:scaleDownCenter 0.4s ease-in both;
	animation:scaleDownCenter 0.4s ease-in both;
}
.pt-page-scaleUpCenter{
	-webkit-animation:scaleUpCenter 0.4s ease-out both;
	-moz-animation:scaleUpCenter 0.4s ease-out both;
	animation:scaleUpCenter 0.4s ease-out both;
}
@-webkit-keyframes scaleDown{
	to{
		opacity:0;
		-webkit-transform:scale(0.8);
	}
}
@-moz-keyframes scaleDown{
	to{
		opacity:0;
		-moz-transform:scale(0.8);
	}
}
@-o-keyframes scaleDown{
	to{
		opacity:0;
		-o-transform:scale(0.8);
	}
}
@keyframes scaleDown{
	to{
		opacity:0;
		transform:scale(0.8);
	}
}
@-webkit-keyframes scaleUp{
	from{
		opacity:0;
		-webkit-transform:scale(0.8);
	}
}
@-moz-keyframes scaleUp{
	from{
		opacity:0;
		-moz-transform:scale(0.8);
	}
}
@-o-keyframes scaleUp{
	from{
		opacity:0;
		-o-transform:scale(0.8);
	}
}
@keyframes scaleUp{
	from{
		opacity:0;
		transform:scale(0.8);
	}
}
@-webkit-keyframes scaleUpDown{
	to{
		opacity:0;
		-webkit-transform:scale(1.2);
	}
}
@-moz-keyframes scaleUpDown{
	to{
		opacity:0;
		-moz-transform:scale(1.2);
	}
}
@-o-keyframes scaleUpDown{
	to{
		opacity:0;
		-o-transform:scale(1.2);
	}
}
@keyframes scaleUpDown{
	to{
		opacity:0;
		transform:scale(1.2);
	}
}
@-webkit-keyframes scaleDownUp{
	from{
		opacity:0;
		-webkit-transform:scale(1.2);
	}
}
@-moz-keyframes scaleDownUp{
	from{
		opacity:0;
		-moz-transform:scale(1.2);
	}
}
@-o-keyframes scaleDownUp{
	from{
		opacity:0;
		-o-transform:scale(1.2);
	}
}
@keyframes scaleDownUp{
	from{
		opacity:0;
		transform:scale(1.2);
	}
}
@-webkit-keyframes scaleDownCenter{
	to{
		opacity:0;
		-webkit-transform:scale(0.7);
	}
}
@-moz-keyframes scaleDownCenter{
	to{
		opacity:0;
		-moz-transform:scale(0.7);
	}
}
@-o-keyframes scaleDownCenter{
	to{
		opacity:0;
		-o-transform:scale(0.7);
	}
}
@keyframes scaleDownCenter{
	to{
		opacity:0;
		transform:scale(0.7);
	}
}
@-webkit-keyframes scaleUpCenter{
	from{
		opacity:0;
		-webkit-transform:scale(0.7);
	}
}
@-moz-keyframes scaleUpCenter{
	from{
		opacity:0;
		-moz-transform:scale(0.7);
	}
}
@-o-keyframes scaleUpCenter{
	from{
		opacity:0;
		-o-transform:scale(0.7);
	}
}
@keyframes scaleUpCenter{
	from{
		opacity:0;
		transform:scale(0.7);
	}
}
.pt-page-rotateRightSideFirst{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateRightSideFirst 0.8s both ease-in;
	-moz-animation:rotateRightSideFirst 0.8s both ease-in;
	animation:rotateRightSideFirst 0.8s both ease-in;
}
.pt-page-rotateLeftSideFirst{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateLeftSideFirst 0.8s both ease-in;
	-moz-animation:rotateLeftSideFirst 0.8s both ease-in;
	animation:rotateLeftSideFirst 0.8s both ease-in;
}
.pt-page-rotateTopSideFirst{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateTopSideFirst 0.8s both ease-in;
	-moz-animation:rotateTopSideFirst 0.8s both ease-in;
	animation:rotateTopSideFirst 0.8s both ease-in;
}
.pt-page-rotateBottomSideFirst{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateBottomSideFirst 0.8s both ease-in;
	-moz-animation:rotateBottomSideFirst 0.8s both ease-in;
	animation:rotateBottomSideFirst 0.8s both ease-in;
}
.pt-page-flipOutRight{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipOutRight 0.5s both ease-in;
	-moz-animation:flipOutRight 0.5s both ease-in;
	animation:flipOutRight 0.5s both ease-in;
}
.pt-page-flipInLeft{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipInLeft 0.5s both ease-out;
	-moz-animation:flipInLeft 0.5s both ease-out;
	animation:flipInLeft 0.5s both ease-out;
}
.pt-page-flipOutLeft{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipOutLeft 0.5s both ease-in;
	-moz-animation:flipOutLeft 0.5s both ease-in;
	animation:flipOutLeft 0.5s both ease-in;
}
.pt-page-flipInRight{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipInRight 0.5s both ease-out;
	-moz-animation:flipInRight 0.5s both ease-out;
	animation:flipInRight 0.5s both ease-out;
}
.pt-page-flipOutTop{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipOutTop 0.5s both ease-in;
	-moz-animation:flipOutTop 0.5s both ease-in;
	animation:flipOutTop 0.5s both ease-in;
}
.pt-page-flipInBottom{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipInBottom 0.5s both ease-out;
	-moz-animation:flipInBottom 0.5s both ease-out;
	animation:flipInBottom 0.5s both ease-out;
}
.pt-page-flipOutBottom{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipOutBottom 0.5s both ease-in;
	-moz-animation:flipOutBottom 0.5s both ease-in;
	animation:flipOutBottom 0.5s both ease-in;
}
.pt-page-flipInTop{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:flipInTop 0.5s both ease-out;
	-moz-animation:flipInTop 0.5s both ease-out;
	animation:flipInTop 0.5s both ease-out;
}
.pt-page-rotateFall{
	-webkit-transform-origin:0% 0%;
	-moz-transform-origin:0% 0%;
	-ms-transform-origin:0% 0%;
	-o-transform-origin:0% 0%;
	transform-origin:0% 0%;
	-webkit-animation:rotateFall 1s both ease-in;
	-moz-animation:rotateFall 1s both ease-in;
	animation:rotateFall 1s both ease-in;
}
.pt-page-rotateOutNewspaper{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:rotateOutNewspaper 0.5s both ease-in;
	-moz-animation:rotateOutNewspaper 0.5s both ease-in;
	animation:rotateOutNewspaper 0.5s both ease-in;
}
.pt-page-rotateInNewspaper{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	-o-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-animation:rotateInNewspaper 0.5s both ease-out;
	-moz-animation:rotateInNewspaper 0.5s both ease-out;
	animation:rotateInNewspaper 0.5s both ease-out;
}
.pt-page-rotatePushLeft{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotatePushLeft 0.8s both ease;
	-moz-animation:rotatePushLeft 0.8s both ease;
	animation:rotatePushLeft 0.8s both ease;
}
.pt-page-rotatePushRight{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotatePushRight 0.8s both ease;
	-moz-animation:rotatePushRight 0.8s both ease;
	animation:rotatePushRight 0.8s both ease;
}
.pt-page-rotatePushTop{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotatePushTop 0.8s both ease;
	-moz-animation:rotatePushTop 0.8s both ease;
	animation:rotatePushTop 0.8s both ease;
}
.pt-page-rotatePushBottom{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotatePushBottom 0.8s both ease;
	-moz-animation:rotatePushBottom 0.8s both ease;
	animation:rotatePushBottom 0.8s both ease;
}
.pt-page-rotatePullRight{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotatePullRight 0.5s both ease;
	-moz-animation:rotatePullRight 0.5s both ease;
	animation:rotatePullRight 0.5s both ease;
}
.pt-page-rotatePullLeft{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotatePullLeft 0.5s both ease;
	-moz-animation:rotatePullLeft 0.5s both ease;
	animation:rotatePullLeft 0.5s both ease;
}
.pt-page-rotatePullTop{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotatePullTop 0.5s both ease;
	-moz-animation:rotatePullTop 0.5s both ease;
	animation:rotatePullTop 0.5s both ease;
}
.pt-page-rotatePullBottom{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotatePullBottom 0.5s both ease;
	-moz-animation:rotatePullBottom 0.5s both ease;
	animation:rotatePullBottom 0.5s both ease;
}
.pt-page-rotateFoldRight{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateFoldRight 0.7s both ease;
	-moz-animation:rotateFoldRight 0.7s both ease;
	animation:rotateFoldRight 0.7s both ease;
}
.pt-page-rotateFoldLeft{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateFoldLeft 0.7s both ease;
	-moz-animation:rotateFoldLeft 0.7s both ease;
	animation:rotateFoldLeft 0.7s both ease;
}
.pt-page-rotateFoldTop{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateFoldTop 0.7s both ease;
	-moz-animation:rotateFoldTop 0.7s both ease;
	animation:rotateFoldTop 0.7s both ease;
}
.pt-page-rotateFoldBottom{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateFoldBottom 0.7s both ease;
	-moz-animation:rotateFoldBottom 0.7s both ease;
	animation:rotateFoldBottom 0.7s both ease;
}
.pt-page-rotateUnfoldLeft{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateUnfoldLeft 0.7s both ease;
	-moz-animation:rotateUnfoldLeft 0.7s both ease;
	animation:rotateUnfoldLeft 0.7s both ease;
}
.pt-page-rotateUnfoldRight{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateUnfoldRight 0.7s both ease;
	-moz-animation:rotateUnfoldRight 0.7s both ease;
	animation:rotateUnfoldRight 0.7s both ease;
}
.pt-page-rotateUnfoldTop{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateUnfoldTop 0.7s both ease;
	-moz-animation:rotateUnfoldTop 0.7s both ease;
	animation:rotateUnfoldTop 0.7s both ease;
}
.pt-page-rotateUnfoldBottom{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateUnfoldBottom 0.7s both ease;
	-moz-animation:rotateUnfoldBottom 0.7s both ease;
	animation:rotateUnfoldBottom 0.7s both ease;
}
.pt-page-rotateRoomLeftOut{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateRoomLeftOut 0.8s both ease;
	-moz-animation:rotateRoomLeftOut 0.8s both ease;
	animation:rotateRoomLeftOut 0.8s both ease;
}
.pt-page-rotateRoomLeftIn{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateRoomLeftIn 0.8s both ease;
	-moz-animation:rotateRoomLeftIn 0.8s both ease;
	animation:rotateRoomLeftIn 0.8s both ease;
}
.pt-page-rotateRoomRightOut{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateRoomRightOut 0.8s both ease;
	-moz-animation:rotateRoomRightOut 0.8s both ease;
	animation:rotateRoomRightOut 0.8s both ease;
}
.pt-page-rotateRoomRightIn{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateRoomRightIn 0.8s both ease;
	-moz-animation:rotateRoomRightIn 0.8s both ease;
	animation:rotateRoomRightIn 0.8s both ease;
}
.pt-page-rotateRoomTopOut{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateRoomTopOut 0.8s both ease;
	-moz-animation:rotateRoomTopOut 0.8s both ease;
	animation:rotateRoomTopOut 0.8s both ease;
}
.pt-page-rotateRoomTopIn{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateRoomTopIn 0.8s both ease;
	-moz-animation:rotateRoomTopIn 0.8s both ease;
	animation:rotateRoomTopIn 0.8s both ease;
}
.pt-page-rotateRoomBottomOut{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateRoomBottomOut 0.8s both ease;
	-moz-animation:rotateRoomBottomOut 0.8s both ease;
	animation:rotateRoomBottomOut 0.8s both ease;
}
.pt-page-rotateRoomBottomIn{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateRoomBottomIn 0.8s both ease;
	-moz-animation:rotateRoomBottomIn 0.8s both ease;
	animation:rotateRoomBottomIn 0.8s both ease;
}
.pt-page-rotateCubeLeftOut{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateCubeLeftOut 0.6s both ease-in;
	-moz-animation:rotateCubeLeftOut 0.6s both ease-in;
	animation:rotateCubeLeftOut 0.6s both ease-in;
}
.pt-page-rotateCubeLeftIn{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateCubeLeftIn 0.6s both ease-in;
	-moz-animation:rotateCubeLeftIn 0.6s both ease-in;
	animation:rotateCubeLeftIn 0.6s both ease-in;
}
.pt-page-rotateCubeRightOut{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateCubeRightOut 0.6s both ease-in;
	-moz-animation:rotateCubeRightOut 0.6s both ease-in;
	animation:rotateCubeRightOut 0.6s both ease-in;
}
.pt-page-rotateCubeRightIn{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateCubeRightIn 0.6s both ease-in;
	-moz-animation:rotateCubeRightIn 0.6s both ease-in;
	animation:rotateCubeRightIn 0.6s both ease-in;
}
.pt-page-rotateCubeTopOut{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateCubeTopOut 0.6s both ease-in;
	-moz-animation:rotateCubeTopOut 0.6s both ease-in;
	animation:rotateCubeTopOut 0.6s both ease-in;
}
.pt-page-rotateCubeTopIn{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateCubeTopIn 0.6s both ease-in;
	-moz-animation:rotateCubeTopIn 0.6s both ease-in;
	animation:rotateCubeTopIn 0.6s both ease-in;
}
.pt-page-rotateCubeBottomOut{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateCubeBottomOut 0.6s both ease-in;
	-moz-animation:rotateCubeBottomOut 0.6s both ease-in;
	animation:rotateCubeBottomOut 0.6s both ease-in;
}
.pt-page-rotateCubeBottomIn{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateCubeBottomIn 0.6s both ease-in;
	-moz-animation:rotateCubeBottomIn 0.6s both ease-in;
	animation:rotateCubeBottomIn 0.6s both ease-in;
}
.pt-page-rotateCarouselLeftOut{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateCarouselLeftOut 0.8s both ease;
	-moz-animation:rotateCarouselLeftOut 0.8s both ease;
	animation:rotateCarouselLeftOut 0.8s both ease;
}
.pt-page-rotateCarouselLeftIn{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateCarouselLeftIn 0.8s both ease;
	-moz-animation:rotateCarouselLeftIn 0.8s both ease;
	animation:rotateCarouselLeftIn 0.8s both ease;
}
.pt-page-rotateCarouselRightOut{
	-webkit-transform-origin:0% 50%;
	-moz-transform-origin:0% 50%;
	-ms-transform-origin:0% 50%;
	-o-transform-origin:0% 50%;
	transform-origin:0% 50%;
	-webkit-animation:rotateCarouselRightOut 0.8s both ease;
	-moz-animation:rotateCarouselRightOut 0.8s both ease;
	animation:rotateCarouselRightOut 0.8s both ease;
}
.pt-page-rotateCarouselRightIn{
	-webkit-transform-origin:100% 50%;
	-moz-transform-origin:100% 50%;
	-ms-transform-origin:100% 50%;
	-o-transform-origin:100% 50%;
	transform-origin:100% 50%;
	-webkit-animation:rotateCarouselRightIn 0.8s both ease;
	-moz-animation:rotateCarouselRightIn 0.8s both ease;
	animation:rotateCarouselRightIn 0.8s both ease;
}
.pt-page-rotateCarouselTopOut{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateCarouselTopOut 0.8s both ease;
	-moz-animation:rotateCarouselTopOut 0.8s both ease;
	animation:rotateCarouselTopOut 0.8s both ease;
}
.pt-page-rotateCarouselTopIn{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateCarouselTopIn 0.8s both ease;
	-moz-animation:rotateCarouselTopIn 0.8s both ease;
	animation:rotateCarouselTopIn 0.8s both ease;
}
.pt-page-rotateCarouselBottomOut{
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	-o-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-animation:rotateCarouselBottomOut 0.8s both ease;
	-moz-animation:rotateCarouselBottomOut 0.8s both ease;
	animation:rotateCarouselBottomOut 0.8s both ease;
}
.pt-page-rotateCarouselBottomIn{
	-webkit-transform-origin:50% 100%;
	-moz-transform-origin:50% 100%;
	-ms-transform-origin:50% 100%;
	-o-transform-origin:50% 100%;
	transform-origin:50% 100%;
	-webkit-animation:rotateCarouselBottomIn 0.8s both ease;
	-moz-animation:rotateCarouselBottomIn 0.8s both ease;
	animation:rotateCarouselBottomIn 0.8s both ease;
}
.pt-page-rotateSidesOut{
	-webkit-transform-origin:-50% 50%;
	-moz-transform-origin:-50% 50%;
	-ms-transform-origin:-50% 50%;
	-o-transform-origin:-50% 50%;
	transform-origin:-50% 50%;
	-webkit-animation:rotateSidesOut 0.5s both ease-in;
	-moz-animation:rotateSidesOut 0.5s both ease-in;
	animation:rotateSidesOut 0.5s both ease-in;
}
.pt-page-rotateSidesIn{
	-webkit-transform-origin:150% 50%;
	-moz-transform-origin:150% 50%;
	-ms-transform-origin:150% 50%;
	-o-transform-origin:150% 50%;
	transform-origin:150% 50%;
	-webkit-animation:rotateSidesIn 0.5s both ease-out;
	-moz-animation:rotateSidesIn 0.5s both ease-out;
	animation:rotateSidesIn 0.5s both ease-out;
}
.pt-page-rotateSlideOut{
	-webkit-animation:rotateSlideOut 1s both ease;
	-moz-animation:rotateSlideOut 1s both ease;
	animation:rotateSlideOut 1s both ease;
}
.pt-page-rotateSlideIn{
	-webkit-animation:rotateSlideIn 1s both ease;
	-moz-animation:rotateSlideIn 1s both ease;
	animation:rotateSlideIn 1s both ease;
}
@-webkit-keyframes rotateRightSideFirst{
	40%{
		-webkit-transform:rotateY(15deg);
		opacity:0.8;
		-webkit-animation-timing-function:ease-out;
	}
	100%{
		-webkit-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-moz-keyframes rotateRightSideFirst{
	40%{
		-moz-transform:rotateY(15deg);
		opacity:0.8;
		-moz-animation-timing-function:ease-out;
	}
	100%{
		-moz-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-o-keyframes rotateRightSideFirst{
	40%{
		-o-transform:rotateY(15deg);
		opacity:0.8;
		-o-animation-timing-function:ease-out;
	}
	100%{
		-o-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@keyframes rotateRightSideFirst{
	40%{
		transform:rotateY(15deg);
		opacity:0.8;
		animation-timing-function:ease-out;
	}
	100%{
		transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-webkit-keyframes rotateLeftSideFirst{
	40%{
		-webkit-transform:rotateY(15deg);
		opacity:0.8;
		-webkit-animation-timing-function:ease-out;
	}
	100%{
		-webkit-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-moz-keyframes rotateLeftSideFirst{
	40%{
		-moz-transform:rotateY(15deg);
		opacity:0.8;
		-moz-animation-timing-function:ease-out;
	}
	100%{
		-moz-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-o-keyframes rotateLeftSideFirst{
	40%{
		-o-transform:rotateY(15deg);
		opacity:0.8;
		-o-animation-timing-function:ease-out;
	}
	100%{
		-o-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@keyframes rotateLeftSideFirst{
	40%{
		transform:rotateY(15deg);
		opacity:0.8;
		animation-timing-function:ease-out;
	}
	100%{
		transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-webkit-keyframes rotateTopSideFirst{
	40%{
		-webkit-transform:rotateY(15deg);
		opacity:0.8;
		-webkit-animation-timing-function:ease-out;
	}
	100%{
		-webkit-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-moz-keyframes rotateTopSideFirst{
	40%{
		-moz-transform:rotateY(15deg);
		opacity:0.8;
		-moz-animation-timing-function:ease-out;
	}
	100%{
		-moz-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-o-keyframes rotateTopSideFirst{
	40%{
		-o-transform:rotateY(15deg);
		opacity:0.8;
		-o-animation-timing-function:ease-out;
	}
	100%{
		-o-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@keyframes rotateTopSideFirst{
	40%{
		transform:rotateY(15deg);
		opacity:0.8;
		animation-timing-function:ease-out;
	}
	100%{
		transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-webkit-keyframes rotateBottomSideFirst{
	40%{
		-webkit-transform:rotateY(15deg);
		opacity:0.8;
		-webkit-animation-timing-function:ease-out;
	}
	100%{
		-webkit-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-moz-keyframes rotateBottomSideFirst{
	40%{
		-moz-transform:rotateY(15deg);
		opacity:0.8;
		-moz-animation-timing-function:ease-out;
	}
	100%{
		-moz-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-o-keyframes rotateBottomSideFirst{
	40%{
		-o-transform:rotateY(15deg);
		opacity:0.8;
		-o-animation-timing-function:ease-out;
	}
	100%{
		-o-transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@keyframes rotateBottomSideFirst{
	40%{
		transform:rotateY(15deg);
		opacity:0.8;
		animation-timing-function:ease-out;
	}
	100%{
		transform:scale(0.8) translateZ(-200px);
		opacity:0;
	}
}
@-webkit-keyframes flipOutRight{
	to{
		-webkit-transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipOutRight{
	to{
		-moz-transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipOutRight{
	to{
		-o-transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@keyframes flipOutRight{
	to{
		transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes flipInRight{
	from{
		-webkit-transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipInRight{
	from{
		-moz-transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipInRight{
	from{
		-o-transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@keyframes flipInRight{
	from{
		transform:translateZ(-1000px) rotateY(90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes flipOutLeft{
	to{
		-webkit-transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipOutLeft{
	to{
		-moz-transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipOutLeft{
	to{
		-o-transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@keyframes flipOutLeft{
	to{
		transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes flipInLeft{
	from{
		-webkit-transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipInLeft{
	from{
		-moz-transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipInLeft{
	from{
		-o-transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@keyframes flipInLeft{
	from{
		transform:translateZ(-1000px) rotateY(-90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes flipOutTop{
	to{
		-webkit-transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipOutTop{
	to{
		-moz-transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipOutTop{
	to{
		-o-transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@keyframes flipOutTop{
	to{
		transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes flipInBottom{
	from{
		-webkit-transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipInBottom{
	from{
		-moz-transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipInBottom{
	from{
		-o-transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@keyframes flipInBottom{
	from{
		transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes flipOutBottom{
	to{
		-webkit-transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipOutBottom{
	to{
		-moz-transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipOutBottom{
	to{
		-o-transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@keyframes flipOutBottom{
	to{
		transform:translateZ(-1000px) rotateX(-90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes flipInTop{
	from{
		-webkit-transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@-moz-keyframes flipInTop{
	from{
		-moz-transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@-o-keyframes flipInTop{
	from{
		-o-transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@keyframes flipInTop{
	from{
		transform:translateZ(-1000px) rotateX(90deg);
		opacity:0.2;
	}
}
@-webkit-keyframes rotateFall{
	0%{
		pretransform:rotateZ(0deg);
	}
	20%{
		pretransform:rotateZ(10deg);
		preanimation-timing-function:ease-out;
	}
	40%{
		pretransform:rotateZ(17deg);
	}
	60%{
		pretransform:rotateZ(16deg);
	}
	100%{
		pretransform:translateY(100%) rotateZ(17deg);
	}
}
@-moz-keyframes rotateFall{
	0%{
		pretransform:rotateZ(0deg);
	}
	20%{
		pretransform:rotateZ(10deg);
		preanimation-timing-function:ease-out;
	}
	40%{
		pretransform:rotateZ(17deg);
	}
	60%{
		pretransform:rotateZ(16deg);
	}
	100%{
		pretransform:translateY(100%) rotateZ(17deg);
	}
}
@-o-keyframes rotateFall{
	0%{
		pretransform:rotateZ(0deg);
	}
	20%{
		pretransform:rotateZ(10deg);
		preanimation-timing-function:ease-out;
	}
	40%{
		pretransform:rotateZ(17deg);
	}
	60%{
		pretransform:rotateZ(16deg);
	}
	100%{
		pretransform:translateY(100%) rotateZ(17deg);
	}
}
@keyframes rotateFall{
	0%{
		pretransform:rotateZ(0deg);
	}
	20%{
		pretransform:rotateZ(10deg);
		preanimation-timing-function:ease-out;
	}
	40%{
		pretransform:rotateZ(17deg);
	}
	60%{
		pretransform:rotateZ(16deg);
	}
	100%{
		pretransform:translateY(100%) rotateZ(17deg);
	}
}
@-webkit-keyframes rotateOutNewspaper{
	to{
		-webkit-transform:translateZ(-3000px) rotateZ(360deg);
		opacity:0;
	}
}
@-moz-keyframes rotateOutNewspaper{
	to{
		-moz-transform:translateZ(-3000px) rotateZ(360deg);
		opacity:0;
	}
}
@-o-keyframes rotateOutNewspaper{
	to{
		-o-transform:translateZ(-3000px) rotateZ(360deg);
		opacity:0;
	}
}
@keyframes rotateOutNewspaper{
	to{
		transform:translateZ(-3000px) rotateZ(360deg);
		opacity:0;
	}
}
@-webkit-keyframes rotateInNewspaper{
	to{
		-webkit-transform:translateZ(-3000px) rotateZ(-360deg);
		opacity:0;
	}
}
@-moz-keyframes rotateInNewspaper{
	to{
		-moz-transform:translateZ(-3000px) rotateZ(-360deg);
		opacity:0;
	}
}
@-o-keyframes rotateInNewspaper{
	to{
		-o-transform:translateZ(-3000px) rotateZ(-360deg);
		opacity:0;
	}
}
@keyframes rotateInNewspaper{
	to{
		transform:translateZ(-3000px) rotateZ(-360deg);
		opacity:0;
	}
}
@-webkit-keyframes rotatePullLeft{
	from{
		opacity:0;
		-webkit-transform:rotateY(90deg);
	}
}
@-moz-keyframes rotatePullLeft{
	from{
		opacity:0;
		-moz-transform:rotateY(90deg);
	}
}
@-o-keyframes rotatePullLeft{
	from{
		opacity:0;
		-o-transform:rotateY(90deg);
	}
}
@keyframes rotatePullLeft{
	from{
		opacity:0;
		transform:rotateY(90deg);
	}
}
@-webkit-keyframes rotatePullRight{
	from{
		opacity:0;
		-webkit-transform:rotateY(-90deg);
	}
}
@-moz-keyframes rotatePullRight{
	from{
		opacity:0;
		-moz-transform:rotateY(-90deg);
	}
}
@-o-keyframes rotatePullRight{
	from{
		opacity:0;
		-o-transform:rotateY(-90deg);
	}
}
@keyframes rotatePullRight{
	from{
		opacity:0;
		transform:rotateY(-90deg);
	}
}
@-webkit-keyframes rotatePullTop{
	from{
		opacity:0;
		-webkit-transform:rotateY(-90deg);
	}
}
@-moz-keyframes rotatePullTop{
	from{
		opacity:0;
		-moz-transform:rotateY(-90deg);
	}
}
@-o-keyframes rotatePullTop{
	from{
		opacity:0;
		-o-transform:rotateY(-90deg);
	}
}
@keyframes rotatePullTop{
	from{
		opacity:0;
		transform:rotateY(-90deg);
	}
}
@-webkit-keyframes rotatePullBottom{
	from{
		opacity:0;
		-webkit-transform:rotateY(90deg);
	}
}
@-moz-keyframes rotatePullBottom{
	from{
		opacity:0;
		-moz-transform:rotateY(90deg);
	}
}
@-o-keyframes rotatePullBottom{
	from{
		opacity:0;
		-o-transform:rotateY(90deg);
	}
}
@keyframes rotatePullBottom{
	from{
		opacity:0;
		transform:rotateY(90deg);
	}
}
@-webkit-keyframes rotatePushLeft{
	to{
		opacity:0;
		-webkit-transform:rotateY(90deg);
	}
}
@-moz-keyframes rotatePushLeft{
	to{
		opacity:0;
		-moz-transform:rotateY(90deg);
	}
}
@-o-keyframes rotatePushLeft{
	to{
		opacity:0;
		-o-transform:rotateY(90deg);
	}
}
@keyframes rotatePushLeft{
	to{
		opacity:0;
		transform:rotateY(90deg);
	}
}
@-webkit-keyframes rotatePushRight{
	to{
		opacity:0;
		-webkit-transform:rotateY(-90deg);
	}
}
@-moz-keyframes rotatePushRight{
	to{
		opacity:0;
		-moz-transform:rotateY(-90deg);
	}
}
@-o-keyframes rotatePushRight{
	to{
		opacity:0;
		-o-transform:rotateY(-90deg);
	}
}
@keyframes rotatePushRight{
	to{
		opacity:0;
		transform:rotateY(-90deg);
	}
}
@-webkit-keyframes rotatePushTop{
	to{
		opacity:0;
		-webkit-transform:rotateY(-90deg);
	}
}
@-moz-keyframes rotatePushTop{
	to{
		opacity:0;
		-moz-transform:rotateY(-90deg);
	}
}
@-o-keyframes rotatePushTop{
	to{
		opacity:0;
		-o-transform:rotateY(-90deg);
	}
}
@keyframes rotatePushTop{
	to{
		opacity:0;
		transform:rotateY(-90deg);
	}
}
@-webkit-keyframes rotatePushBottom{
	to{
		opacity:0;
		-webkit-transform:rotateY(90deg);
	}
}
@-moz-keyframes rotatePushBottom{
	to{
		opacity:0;
		-moz-transform:rotateY(90deg);
	}
}
@-o-keyframes rotatePushBottom{
	to{
		opacity:0;
		-o-transform:rotateY(90deg);
	}
}
@keyframes rotatePushBottom{
	to{
		opacity:0;
		transform:rotateY(90deg);
	}
}
@-webkit-keyframes rotateFoldLeft{
	from{
		opacity:0;
		-webkit-transform:translateX(-100%);
	}
}
@-moz-keyframes rotateFoldLeft{
	from{
		opacity:0;
		-moz-transform:translateX(-100%);
	}
}
@-o-keyframes rotateFoldLeft{
	from{
		opacity:0;
		-o-transform:translateX(-100%);
	}
}
@keyframes rotateFoldLeft{
	from{
		opacity:0;
		transform:translateX(-100%);
	}
}
@-webkit-keyframes rotateFoldRight{
	from{
		opacity:0;
		-webkit-transform:translateX(100%);
	}
}
@-moz-keyframes rotateFoldRight{
	from{
		opacity:0;
		-moz-transform:translateX(100%);
	}
}
@-o-keyframes rotateFoldRight{
	from{
		opacity:0;
		-o-transform:translateX(100%);
	}
}
@keyframes rotateFoldRight{
	from{
		opacity:0;
		transform:translateX(100%);
	}
}
@-webkit-keyframes rotateFoldTop{
	from{
		opacity:0;
		-webkit-transform:translateY(-100%);
	}
}
@-moz-keyframes rotateFoldTop{
	from{
		opacity:0;
		-moz-transform:translateY(-100%);
	}
}
@-o-keyframes rotateFoldTop{
	from{
		opacity:0;
		-o-transform:translateY(-100%);
	}
}
@keyframes rotateFoldTop{
	from{
		opacity:0;
		transform:translateY(-100%);
	}
}
@-webkit-keyframes rotateFoldBottom{
	from{
		opacity:0;
		-webkit-transform:translateY(100%);
	}
}
@-moz-keyframes rotateFoldBottom{
	from{
		opacity:0;
		-moz-transform:translateY(100%);
	}
}
@-o-keyframes rotateFoldBottom{
	from{
		opacity:0;
		-o-transform:translateY(100%);
	}
}
@keyframes rotateFoldBottom{
	from{
		opacity:0;
		transform:translateY(100%);
	}
}
@-webkit-keyframes rotateUnfoldLeft{
	to{
		opacity:0;
		-webkit-transform:translateX(-100%);
	}
}
@-moz-keyframes rotateUnfoldLeft{
	to{
		opacity:0;
		-moz-transform:translateX(-100%);
	}
}
@-o-keyframes rotateUnfoldLeft{
	to{
		opacity:0;
		-o-transform:translateX(-100%);
	}
}
@keyframes rotateUnfoldLeft{
	to{
		opacity:0;
		transform:translateX(-100%);
	}
}
@-webkit-keyframes rotateUnfoldRight{
	to{
		opacity:0;
		-webkit-transform:translateX(100%);
	}
}
@-moz-keyframes rotateUnfoldRight{
	to{
		opacity:0;
		-moz-transform:translateX(100%);
	}
}
@-o-keyframes rotateUnfoldRight{
	to{
		opacity:0;
		-o-transform:translateX(100%);
	}
}
@keyframes rotateUnfoldRight{
	to{
		opacity:0;
		transform:translateX(100%);
	}
}
@-webkit-keyframes rotateUnfoldTop{
	to{
		opacity:0;
		-webkit-transform:translateY(-100%);
	}
}
@-moz-keyframes rotateUnfoldTop{
	to{
		opacity:0;
		-moz-transform:translateY(-100%);
	}
}
@-o-keyframes rotateUnfoldTop{
	to{
		opacity:0;
		-o-transform:translateY(-100%);
	}
}
@keyframes rotateUnfoldTop{
	to{
		opacity:0;
		transform:translateY(-100%);
	}
}
@-webkit-keyframes rotateUnfoldBottom{
	to{
		opacity:0;
		-webkit-transform:translateY(100%);
	}
}
@-moz-keyframes rotateUnfoldBottom{
	to{
		opacity:0;
		-moz-transform:translateY(100%);
	}
}
@-o-keyframes rotateUnfoldBottom{
	to{
		opacity:0;
		-o-transform:translateY(100%);
	}
}
@keyframes rotateUnfoldBottom{
	to{
		opacity:0;
		transform:translateY(100%);
	}
}
it-keyframes rotateRoomLeftOut to{
	opacity:0.3;
	-webkit-transform:translateX(-100%) rotateY(90deg);
}
@-moz-keyframes rotateRoomLeftOut{
	to{
		opacity:0.3;
		-moz-transform:translateX(-100%) rotateY(90deg);
	}
}
@keyframes rotateRoomLeftOut{
	to{
		opacity:0.3;
		transform:translateX(-100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateRoomLeftIn{
	from{
		opacity:0.3;
		-webkit-transform:translateX(100%) rotateY(-90deg);
	}
}
@-moz-keyframes rotateRoomLeftIn{
	from{
		opacity:0.3;
		-moz-transform:translateX(100%) rotateY(-90deg);
	}
}
@keyframes rotateRoomLeftIn{
	from{
		opacity:0.3;
		transform:translateX(100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateRoomRightOut{
	to{
		opacity:0.3;
		-webkit-transform:translateX(100%) rotateY(-90deg);
	}
}
@-moz-keyframes rotateRoomRightOut{
	to{
		opacity:0.3;
		-moz-transform:translateX(100%) rotateY(-90deg);
	}
}
@keyframes rotateRoomRightOut{
	to{
		opacity:0.3;
		transform:translateX(100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateRoomRightIn{
	from{
		opacity:0.3;
		-webkit-transform:translateX(-100%) rotateY(90deg);
	}
}
@-moz-keyframes rotateRoomRightIn{
	from{
		opacity:0.3;
		-moz-transform:translateX(-100%) rotateY(90deg);
	}
}
@keyframes rotateRoomRightIn{
	from{
		opacity:0.3;
		transform:translateX(-100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateRoomTopOut{
	to{
		opacity:0.3;
		-webkit-transform:translateY(-100%) rotateX(-90deg);
	}
}
@-moz-keyframes rotateRoomTopOut{
	to{
		opacity:0.3;
		-moz-transform:translateY(-100%) rotateX(-90deg);
	}
}
@keyframes rotateRoomTopOut{
	to{
		opacity:0.3;
		transform:translateY(-100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateRoomTopIn{
	from{
		opacity:0.3;
		-webkit-transform:translateY(100%) rotateX(90deg);
	}
}
@-moz-keyframes rotateRoomTopIn{
	from{
		opacity:0.3;
		-moz-transform:translateY(100%) rotateX(90deg);
	}
}
@keyframes rotateRoomTopIn{
	from{
		opacity:0.3;
		transform:translateY(100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateRoomBottomOut{
	to{
		opacity:0.3;
		-webkit-transform:translateY(100%) rotateX(90deg);
	}
}
@-moz-keyframes rotateRoomBottomOut{
	to{
		opacity:0.3;
		-moz-transform:translateY(100%) rotateX(90deg);
	}
}
@keyframes rotateRoomBottomOut{
	to{
		opacity:0.3;
		transform:translateY(100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateRoomBottomIn{
	from{
		opacity:0.3;
		-webkit-transform:translateY(-100%) rotateX(-90deg);
	}
}
@-moz-keyframes rotateRoomBottomIn{
	from{
		opacity:0.3;
		-moz-transform:translateY(-100%) rotateX(-90deg);
	}
}
@keyframes rotateRoomBottomIn{
	from{
		opacity:0.3;
		transform:translateY(-100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateCubeLeftOut{
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
	100%{
		opacity:0.3;
		-webkit-transform:translateX(-100%) rotateY(-90deg);
	}
}
@-moz-keyframes rotateCubeLeftOut{
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
	100%{
		opacity:0.3;
		-moz-transform:translateX(-100%) rotateY(-90deg);
	}
}
@-o-keyframes rotateCubeLeftOut{
	50%{
		-o-animation-timing-function:ease-out;
		-o-transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
	100%{
		opacity:0.3;
		-o-transform:translateX(-100%) rotateY(-90deg);
	}
}
@keyframes rotateCubeLeftOut{
	50%{
		animation-timing-function:ease-out;
		transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
	100%{
		opacity:0.3;
		transform:translateX(-100%) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateCubeLeftIn{
	0%{
		opacity:0.3;
		-webkit-transform:translateX(100%) rotateY(90deg);
	}
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
}
@-moz-keyframes rotateCubeLeftIn{
	0%{
		opacity:0.3;
		-moz-transform:translateX(100%) rotateY(90deg);
	}
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
}
@-o-keyframes rotateCubeLeftIn{
	0%{
		opacity:0.3;
		-o-transform:translateX(100%) rotateY(90deg);
	}
	50%{
		-o-animation-timing-function:ease-out;
		-o-transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
}
@keyframes rotateCubeLeftIn{
	0%{
		opacity:0.3;
		transform:translateX(100%) rotateY(90deg);
	}
	50%{
		animation-timing-function:ease-out;
		transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
}
@-webkit-keyframes rotateCubeRightOut{
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
	100%{
		opacity:0.3;
		-webkit-transform:translateX(100%) rotateY(90deg);
	}
}
@-moz-keyframes rotateCubeRightOut{
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
	100%{
		opacity:0.3;
		-moz-transform:translateX(100%) rotateY(90deg);
	}
}
@-o-keyframes rotateCubeRightOut{
	50%{
		-o-animation-timing-function:ease-out;
		-o-transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
	100%{
		opacity:0.3;
		-o-transform:translateX(100%) rotateY(90deg);
	}
}
@keyframes rotateCubeRightOut{
	50%{
		animation-timing-function:ease-out;
		transform:translateX(50%) translateZ(-200px) rotateY(45deg);
	}
	100%{
		opacity:0.3;
		transform:translateX(100%) rotateY(90deg);
	}
}
@-webkit-keyframes rotateCubeRightIn{
	0%{
		opacity:0.3;
		-webkit-transform:translateX(-100%) rotateY(-90deg);
	}
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
}
@-moz-keyframes rotateCubeRightIn{
	0%{
		opacity:0.3;
		-moz-transform:translateX(-100%) rotateY(-90deg);
	}
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
}
@-o-keyframes rotateCubeRightIn{
	0%{
		opacity:0.3;
		-o-transform:translateX(-100%) rotateY(-90deg);
	}
	50%{
		-o-animation-timing-function:ease-out;
		-o-transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
}
@keyframes rotateCubeRightIn{
	0%{
		opacity:0.3;
		transform:translateX(-100%) rotateY(-90deg);
	}
	50%{
		animation-timing-function:ease-out;
		transform:translateX(-50%) translateZ(-200px) rotateY(-45deg);
	}
}
@-webkit-keyframes rotateCubeTopOut{
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
	100%{
		opacity:0.3;
		-webkit-transform:translateY(-100%) rotateX(90deg);
	}
}
@-moz-keyframes rotateCubeTopOut{
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
	100%{
		opacity:0.3;
		-moz-transform:translateY(-100%) rotateX(90deg);
	}
}
@-o-keyframes rotateCubeTopOut{
	50%{
		-o-animation-timing-function:ease-out;
		-o-transform:translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
	100%{
		opacity:0.3;
		-o-transform:translateY(-100%) rotateX(90deg);
	}
}
@keyframes rotateCubeTopOut{
	50%{
		animation-timing-function:ease-out;
		transform:translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
	100%{
		opacity:0.3;
		transform:translateY(-100%) rotateX(90deg);
	}
}
@-webkit-keyframes rotateCubeTopIn{
	0%{
		opacity:0.3;
		-webkit-transform:translateY(100%) rotateX(-90deg);
	}
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
}
@-moz-keyframes rotateCubeTopIn{
	0%{
		opacity:0.3;
		-moz-transform:translateY(100%) rotateX(-90deg);
	}
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
}
@keyframes rotateCubeTopIn{
	0%{
		opacity:0.3;
		transform:translateY(100%) rotateX(-90deg);
	}
	50%{
		animation-timing-function:ease-out;
		transform:translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
}
@-webkit-keyframes rotateCubeBottomOut{
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
	100%{
		opacity:0.3;
		-webkit-transform:translateY(100%) rotateX(-90deg);
	}
}
@-moz-keyframes rotateCubeBottomOut{
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
	100%{
		opacity:0.3;
		-moz-transform:translateY(100%) rotateX(-90deg);
	}
}
@keyframes rotateCubeBottomOut{
	50%{
		animation-timing-function:ease-out;
		transform:translateY(50%) translateZ(-200px) rotateX(-45deg);
	}
	100%{
		opacity:0.3;
		transform:translateY(100%) rotateX(-90deg);
	}
}
@-webkit-keyframes rotateCubeBottomIn{
	0%{
		opacity:0.3;
		-webkit-transform:translateY(-100%) rotateX(90deg);
	}
	50%{
		-webkit-animation-timing-function:ease-out;
		-webkit-transform:translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}
@-moz-keyframes rotateCubeBottomIn{
	0%{
		opacity:0.3;
		-moz-transform:translateY(-100%) rotateX(90deg);
	}
	50%{
		-moz-animation-timing-function:ease-out;
		-moz-transform:translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}
@keyframes rotateCubeBottomIn{
	0%{
		opacity:0.3;
		transform:translateY(-100%) rotateX(90deg);
	}
	50%{
		animation-timing-function:ease-out;
		transform:translateY(-50%) translateZ(-200px) rotateX(45deg);
	}
}
@-webkit-keyframes rotateCarouselLeftOut{
	to{
		opacity:0.3;
		-webkit-transform:translateX(-150%) scale(0.4) rotateY(-65deg);
	}
}
@-moz-keyframes rotateCarouselLeftOut{
	to{
		opacity:0.3;
		-moz-transform:translateX(-150%) scale(0.4) rotateY(-65deg);
	}
}
@keyframes rotateCarouselLeftOut{
	to{
		opacity:0.3;
		transform:translateX(-150%) scale(0.4) rotateY(-65deg);
	}
}
@-webkit-keyframes rotateCarouselLeftIn{
	from{
		opacity:0.3;
		-webkit-transform:translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@-moz-keyframes rotateCarouselLeftIn{
	from{
		opacity:0.3;
		-moz-transform:translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@keyframes rotateCarouselLeftIn{
	from{
		opacity:0.3;
		transform:translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@-webkit-keyframes rotateCarouselRightOut{
	to{
		opacity:0.3;
		-webkit-transform:translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@-moz-keyframes rotateCarouselRightOut{
	to{
		opacity:0.3;
		-moz-transform:translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@keyframes rotateCarouselRightOut{
	to{
		opacity:0.3;
		transform:translateX(200%) scale(0.4) rotateY(65deg);
	}
}
@-webkit-keyframes rotateCarouselRightIn{
	from{
		opacity:0.3;
		-webkit-transform:translateX(-200%) scale(0.4) rotateY(-65deg);
	}
}
@-moz-keyframes rotateCarouselRightIn{
	from{
		opacity:0.3;
		-moz-transform:translateX(-200%) scale(0.4) rotateY(-65deg);
	}
}
@keyframes rotateCarouselRightIn{
	from{
		opacity:0.3;
		transform:translateX(-200%) scale(0.4) rotateY(-65deg);
	}
}
@-webkit-keyframes rotateCarouselTopOut{
	to{
		opacity:0.3;
		-webkit-transform:translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@-moz-keyframes rotateCarouselTopOut{
	to{
		opacity:0.3;
		-moz-transform:translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@keyframes rotateCarouselTopOut{
	to{
		opacity:0.3;
		transform:translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@-webkit-keyframes rotateCarouselTopIn{
	from{
		opacity:0.3;
		-webkit-transform:translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@-moz-keyframes rotateCarouselTopIn{
	from{
		opacity:0.3;
		-moz-transform:translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@keyframes rotateCarouselTopIn{
	from{
		opacity:0.3;
		transform:translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@-webkit-keyframes rotateCarouselBottomOut{
	to{
		opacity:0.3;
		-webkit-transform:translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@-moz-keyframes rotateCarouselBottomOut{
	to{
		opacity:0.3;
		-moz-transform:translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@keyframes rotateCarouselBottomOut{
	to{
		opacity:0.3;
		transform:translateY(200%) scale(0.4) rotateX(-65deg);
	}
}
@-webkit-keyframes rotateCarouselBottomIn{
	from{
		opacity:0.3;
		-webkit-transform:translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@-moz-keyframes rotateCarouselBottomIn{
	from{
		opacity:0.3;
		-moz-transform:translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@keyframes rotateCarouselBottomIn{
	from{
		opacity:0.3;
		transform:translateY(-200%) scale(0.4) rotateX(65deg);
	}
}
@-webkit-keyframes rotateSidesOut{
	to{
		opacity:0;
		-webkit-transform:translateZ(-500px) rotateY(90deg);
	}
}
@-moz-keyframes rotateSidesOut{
	to{
		opacity:0;
		-moz-transform:translateZ(-500px) rotateY(90deg);
	}
}
@keyframes rotateSidesOut{
	to{
		opacity:0;
		transform:translateZ(-500px) rotateY(90deg);
	}
}
@-webkit-keyframes rotateSidesIn{
	from{
		opacity:0;
		-webkit-transform:translateZ(-500px) rotateY(-90deg);
	}
}
@-moz-keyframes rotateSidesIn{
	from{
		opacity:0;
		-moz-transform:translateZ(-500px) rotateY(-90deg);
	}
}
@keyframes rotateSidesIn{
	from{
		opacity:0;
		transform:translateZ(-500px) rotateY(-90deg);
	}
}
@-webkit-keyframes rotateSlideOut{
	25%{
		opacity:0.5;
		-webkit-transform:translateZ(-500px);
	}
	75%{
		opacity:0.5;
		-webkit-transform:translateZ(-500px) translateX(-200%);
	}
	100%{
		opacity:0.5;
		-webkit-transform:translateZ(-500px) translateX(-200%);
	}
}
@-moz-keyframes rotateSlideOut{
	25%{
		opacity:0.5;
		-moz-transform:translateZ(-500px);
	}
	75%{
		opacity:0.5;
		-moz-transform:translateZ(-500px) translateX(-200%);
	}
	100%{
		opacity:0.5;
		-moz-transform:translateZ(-500px) translateX(-200%);
	}
}
@keyframes rotateSlideOut{
	25%{
		opacity:0.5;
		transform:translateZ(-500px);
	}
	75%{
		opacity:0.5;
		transform:translateZ(-500px) translateX(-200%);
	}
	100%{
		opacity:0.5;
		transform:translateZ(-500px) translateX(-200%);
	}
}
@-webkit-keyframes rotateSlideIn{
	0%,25%{
		opacity:0.5;
		-webkit-transform:translateZ(-500px) translateX(200%);
	}
	75%{
		opacity:0.5;
		-webkit-transform:translateZ(-500px);
	}
	100%{
		opacity:1;
		-webkit-transform:translateZ(0) translateX(0);
	}
}
@-moz-keyframes rotateSlideIn{
	0%,25%{
		opacity:0.5;
		-moz-transform:translateZ(-500px) translateX(200%);
	}
	75%{
		opacity:0.5;
		-moz-transform:translateZ(-500px);
	}
	100%{
		opacity:1;
		-moz-transform:translateZ(0) translateX(0);
	}
}
@keyframes rotateSlideIn{
	0%,25%{
		opacity:0.5;
		transform:translateZ(-500px) translateX(200%);
	}
	75%{
		opacity:0.5;
		transform:translateZ(-500px);
	}
	100%{
		opacity:1;
		transform:translateZ(0) translateX(0);
	}
}
.pt-page-delay100{
	animation-delay:100ms;
}
.pt-page-delay200{
	animation-delay:200ms;
}
.pt-page-delay300{
	animation-delay:300ms;
}
.pt-page-delay400{
	animation-delay:400ms;
}
.pt-page-delay500{
	animation-delay:500ms;
}
.pt-page-delay600{
	animation-delay:600ms;
}
.pt-page-delay700{
	animation-delay:700ms;
}
.pt-page-delay800{
	animation-delay:800ms;
}
.pt-page-delay900{
	animation-delay:900ms;
}
.pt-page-delay1000{
	animation-delay:1000ms;
}